body {
  max-width: 750px;
  margin: 1em auto;
}

a {
  color: #2C45F0;
  text-decoration: none;
}

p, li {
  font-family: Arial, Helvetica, sans-serif;
}

li {
  padding-bottom: .5em;
}

img {
  max-width: 700px;
}

header a {
  margin-right: 2em;
}

article img {
  margin: 0 auto;
  border: 2px solid #e1e1e1;
  padding: 5px;
}

a {
  color: #070707;
  padding-bottom: 2px;
  border-bottom: 3px solid #2C45F0;
}

.pound {
  color: #2C45F0;
  margin-right: .25em;
  font-weight: 300 !important;
}

.date, time {
  color: #999;
}
